*{
    margin: 0;
}

.container-header{
    background-color: #f5f4d7;
    
}

h1{
    color: darkred;
}



.imagem-carrosel {
    object-fit: cover;
    object-position: 0 80%;
   height: 400px;
  
   
}
footer{
    background-color: gray;
}